@import "tailwindcss";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.dark {
    background-color: #000000;
    color: #ffffff;
}

body {
    background-color: #ffffff;
    transition: background-color 300ms ease;
}

.dark body {
    background-color: #000000;
}